/* Algemeen */
* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-family: 'Montserrat', 'Lato', Verdana;
	background-color: #21203d;

}

/* Grids */
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1px;
	
	grid-template-areas:
	"title"
	"voorradden"
	"voorradden1"
	"voertuig"
	"snelheid"
	"omgeving";
}

.title {
	grid-area: title;
	margin-top: 10px;
	margin-left: 12px;
	height: 80px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.pie {
	grid-area: voorradden;
	margin-left: 10px;
	margin-right: 10px;
}

.dough {
	grid-area: voorradden1;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.line {
	grid-area: voertuig;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.snelheid {
	grid-area: snelheid;
}

.bar {
	grid-area: omgeving;
	margin-left: 10px;
	margin-right: 10px;
}

div.voor, div.voer, div.omg {
	border-radius: 5px;
	margin: 20px 20px 0px 20px;
	padding: 10px;
	background-color: #3a3b5d;
}

div.omg {
	margin-bottom: 20px;
}

/* Tekst */

h1 {
	color: white;
}

h2 {
	font-weight: normal;
	margin-bottom: 2px;
	margin-left: 10px;
	color: white;
}

h2.h2 {
	margin-bottom: 11px;
}

h3 {
	font-weight: normal;
	margin-bottom: 8px;
	color: white;
	font-style: italic;
}

h3.h3 {
	margin-left: 10px;
}

p {
	font-style: italic;
}

.space {
	color: white;
	margin-left: 10px;
	text-shadow: 1px 1px #000000;
}

/* Charts */
canvas {
	width: 95%;
	background-color:
}

label {
	font-size: 15px;
	color: white;
}

/* Snelheidsmeter*/
.speedometer {
	width: 200px;
	height: 100px;
	position: relative;
	border-radius: 200px 200px 0 0;
	margin: 20px auto;
}
.speedometer:after {
	background-color: #fff;
	width: 20px;
	height: 10px;
	left: 50%;
	margin-left: -10px;
	border-radius: 20px 20px 0 0;
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
}
.speedometer > .pointer {
	position: absolute;
	width: 0;
	height: 0;
	left: 50%;
	bottom: 2px;
	animation: speed-1 0.5s alternate infinite ease-in-out;
}
.speedometer > .pointer:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border-style: solid;
	border-width: 90px 0 0 3px;
	border-color: #fff transparent transparent;
	width: 0;
	height: 0;
}

.speedometer.speed-2 {
	background-color: #e34f43;
}
.speedometer.speed-2 > .pointer {
	animation-name: speed-2;
}
@keyframes speed-2 {
	from {
    	-moz-transform: rotate(130deg);
    	-ms-transform: rotate(130deg);
    	-webkit-transform: rotate(130deg);
    	transform: rotate(130deg);
  	}
  	to {
    	-moz-transform: rotate(140deg);
    	-ms-transform: rotate(140deg);
    	-webkit-transform: rotate(140deg);
    	transform: rotate(140deg);
  	}
}
/* S */
@media only screen and (min-width: 500px) {
	div.voor {
		width: 90%;
	}
}

/* M */
@media only screen and (min-width: 800px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 1px;
	
		grid-template-areas:
		"title title"
		"voorradden voorradden1"
		"voertuig snelheid"
		"omgeving omgeving";
	}

	.pie, .dough, .voer, .snelheid {
		width: 50%;
	}

	.food {
		display: flex;
		flex-direction: row;
	}

	div.voor {
		width: 92%
	}

	.vinfo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	div.voer {
		width: 92%
	}

	div.omg {
		width: 45%;
	}
}

/* L */
@media only screen and (min-width: 1200px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 1px;
	
		grid-template-areas:
		"title title title"
		"voorradden voorradden1 voertuig"
		"snelheid omgeving omgeving";
	}

	div.voor {
		width: 50%;

	}

	div.voer {
		width: 50%;
		height: 200px;
	}

	div.omg {
		width: 23%;
	}

	div.een {
		display: flex;
		flex-direction: row;
	}

	div.omg {
		margin-top: 30px;
	}
}

/* XL */
@media only screen and (min-width: 1500px) {
	div.voor, div.omg, div.voer {
		height: 250px;
	}

	div.title {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	p {
		margin-top: 10px;
	}
}